/*
In this stylesheet will be added all media queries to make the website responsive.
*/

.show-on-mobile {
    display: block;
}
.hide-on-mobile {

}

/* ========================================
** IPAD LANDSCAPE WIDTH and below
======================================== */
@media only screen and (max-width: 1024px) {

    header .header-wrapper,
    #content {
        margin: 0 25px;
    }

}

/* ========================================
** IPHONE 6 + LANDSCAPE and below
======================================== */
@media only screen and (max-width: 736px) {

    /* Hide all necessary items */
    #main-menu-mobile,
    .mobile-menu-close-btn {
        display: none;
    }

    input, textarea {
        padding: 0;
    }

    header .header-wrapper,
    #content {
        margin: 0 25px;
    }

    /*section {*/
        /*margin-top: 30px;*/
    /*}*/

    section#intro .content h1 {
        font-size: 40px;
        margin: 30px 0;
    }
    section#intro .content p {
        font-size: 20px;
    }

    /* ========================================
    ** HEADER
    ======================================== */
    #main-menu {
        display: none;
    }
    header .header-wrapper {
        /*display: flex;*/
        /*flex-direction: column;*/
    }
    nav#main-menu-mobile {
        display: block;
        background: #fff;
        box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
        z-index: 999;
        padding-bottom: 10px;
    }
    nav#main-menu-mobile ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    /* ========================================
    ** PROJECT SECTION
    ======================================== */
    /* Reset margins */
    section#projects .projects-filter .filter.btn,
    section#projects .projects-filter .filter.btn:first-of-type,
    section#projects .projects-filter .filter.btn:last-of-type {
        margin: 0;
    }
    section#projects .projects-filter {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    section#projects .projects-filter .filter.btn,
    section#projects .projects-filter .filter.btn:first-of-type,
    section#projects .projects-filter .filter.btn:last-of-type{
        display: block;
        margin: 10px 20px;
    }
    section#projects .projects-filter strong {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    section#projects .project {
        width: 100%;
        margin: 10px 0;
    }

    /* ========================================
    ** CONTACT SECTION
    ======================================== */
    section#contact .contact-wrapper {
        flex-direction: column;
    }
    section#contact .contact-wrapper .contact-info {
        margin:0 auto;
        text-align: center;
    }
    section#contact .contact-wrapper .contact-info h2,
    section#contact .contact-wrapper .contact-form h2 {
        /*margin: 50px 0 80px 0;*/
    }
    section#contact .contact-wrapper .contact-info p {
        /*font-size: 40px;*/
    }

    section#contact .contact-wrapper .contact-info,
    section#contact .contact-wrapper .contact-form {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    section#contact .contact-wrapper .contact-form .form-user-info input,
    section#contact .contact-wrapper .contact-form textarea {
        width: 100%;
        height: 50px;
    }
    section#contact .contact-wrapper .contact-form .form-user-info input::-webkit-input-placeholder {
        padding-left: 20px;
    }

    .custom-textarea::-webkit-input-placeholder {
        padding-top: 20px;
        padding-left: 20px;
    }

    section#contact .contact-wrapper input[type="submit"] {
        /*font-size: 50px;*/
        padding: 20px;
        width: 100%;
        height: 50px;
    }

    footer ul li {
        font-size: 14px;
    }


}
