/* MAIN CSS STYLESHEET* /

/* ========================================
GLOBAL
======================================== */
/*RESET EVERYTHING*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #80878c;
    background: #f7f9f8;
    /*font-family: "Source Sans Pro", sans-serif;*/
    font-family: Raleway , Open-sans, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #3dabee;
}

a {

}

#content {
    margin-top: 50px;
    min-height: 1000px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

section .intro-text {
    text-align: center;
    margin-bottom: 50px;
}
section .intro-text h1 {
    color: #525252;
    font-size: 45px;
    margin-bottom: 30px;
}
section .intro-text p {
    color: #aeaeae;
    font-size: 20px;
}

.button {
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    background: #525252;
    color: white;
    text-decoration: none;
}
.button:hover {
    background: #3dabee;
}


/* ========================================
** INTRO SECTION
======================================== */
section.intro {
    /*background: linear-gradient(#ffa949, transparent 50%),*/
    /*linear-gradient(0deg, #fff, transparent),*/
    /*#ffa949 ;*/
    background: #3dabee;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icon-bram {
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: white;
    border: 2px solid white;
}
section.intro .content {

}
section.intro .content h1 {
    font-weight: bold;
    color: white;
    font-size: 82px;
    letter-spacing: -3px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
}
section.intro .content p {
    color: white;
    font-size: 24px;
    margin: 0 0 10px 0;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: subpixel-antialiased;
}
section.intro .scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 16px;
    color: #90cef5;
    font-style: italic;
}
section.intro .scroll-down img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

/* ========================================
** PROJECTS SECTION
======================================== */
section.projects .projects-filter {
    float: right;
    margin-bottom: 30px;
}
section.projects .projects-filter .filter-button {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
}
section.projects .projects-filter .filter-button:first-of-type {
    margin-left: 10px;
}
section.projects .projects-filter .filter-button:last-of-type {
    margin-right: 0;
}
section.projects .projects-filter .filter-button.active {
    color: #3dabee;
    font-weight: bold;
}

section.projects .project-block {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}
section.projects .project-block .project-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section.projects .project-block .project-left .project-info {
    float: left;
    width: 60%;
}
section.projects .project-block  .project-image {
    float: right;
    width: 40%;
    height: 200px;
    background: #90cef5;
    width: 350px;
}
section.projects .project-block .project-info .title {
    color: #3dabee;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

/* ========================================
**  HEADER
======================================== */
nav {

}
nav ul {
    list-style-type:  none;
}
nav li {
    padding: 0 20px;
    line-height: 80px;
    display: inline-block;
}
nav li:last-child {
    padding-right: 0;
}
nav li a:hover {
    color: #eba14e;
}

nav li .active {
    color: #eba14e;
}

/* ========================================
** FOOTER
======================================== */
footer {
    background: white;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}