/* MAIN CSS STYLESHEET* /

/* ========================================
GLOBAL
======================================== */
/*RESET EVERYTHING*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #80878c;
    background: #f7f9f8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #3dabee;
}

a {

}

#content {
    margin-top: 50px;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

/* ========================================
** INTRO SECTION
======================================== */
section.intro {
    /*background: linear-gradient(#ffa949, transparent 50%),*/
    /*linear-gradient(0deg, #fff, transparent),*/
    /*#ffa949 ;*/
    background: #3dabee;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section.intro .content {

}
section.intro .content h1 {
    color: white;
    font-size: 82px;
    font-weight: 100;
    letter-spacing: -5px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
section.intro .content p {
    color: white;
    font-size: 24px;
    margin: 0 0 10px 0;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: subpixel-antialiased;
}
section.intro .scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 20px;
    color: #90cef5;
    font-style: italic;
}
section.intro .scroll-down img {
    width: 50px;
    height: 50px;
}

/* ========================================
** PROJECTS SECTION
======================================== */
section .intro-text {
    text-align: center;
    margin-bottom: 30px;
}
section .intro-text h1 {
    font-size: 45px;
    margin-bottom: 30px;
}
section .intro-text p {
    font-size: 20px;
}
section.projects .project-block {
    width: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 25px;
}
/* ========================================
HEADER
======================================== */
nav {

}
nav ul {
    list-style-type:  none;
}
nav li {
    padding: 0 20px;
    line-height: 80px;
    display: inline-block;
}
nav li:last-child {
    padding-right: 0;
}
nav li a:hover {
    color: #eba14e;
}

nav li .active {
    color: #eba14e;
}